<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>CollegeWebApp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>CreateStudent</servlet-name>
		<servlet-class>com.techouts.CreateStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateStudent</servlet-name>
		<url-pattern>/students/create</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateStudents</servlet-name>
		<servlet-class>com.techouts.UpdateStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateStudents</servlet-name>
		<url-pattern>/students/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReadStudents</servlet-name>
		<servlet-class>com.techouts.ListStudentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadStudents</servlet-name>
		<url-pattern>/students/list</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteStudent</servlet-name>
		<servlet-class>com.techouts.DeleteStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteStudent</servlet-name>
		<url-pattern>/students/delete</url-pattern>
	</servlet-mapping>
	
</web-app>